{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "env": {
        "browser": true,
        "node": true,
    },
    "rules": {
        "indent": "off",
        "react/jsx-indent": "off",
        "react/jsx-indent-props": "off",
        "react/jsx-filename-extension": [0],
        # "react/prop-types": [0],
        "jsx-a11y/label-has-associated-control": [0],
    }
}
